[submodule "part3/fso-phonebook-backend"]
	path = part3/fso-phonebook-backend
	url = git@github.com:bvrbryn445/fso-phonebook-backend.git

[submodule "part4/fso-blog-list-backend"]
	path = part4/fso-blog-list-backend
	url = git@github.com:bvrbryn445/fso-blog-list-backend.git
	branch = part4-23
[submodule "part5/fso-blog-list-backend"]
	path = part5/fso-blog-list-backend
	url = git@github.com:bvrbryn445/fso-blog-list-backend.git
	branch = part5-23
[submodule "part7/fso-blog-list-frontend"]
	path = part7/fso-blog-list-frontend
	url = git@github.com:bvrbryn445/fso-blog-list-frontend.git
	branch = redux-ver
[submodule "part7/fso-blog-list-backend"]
	path = part7/fso-blog-list-backend
	url = git@github.com:bvrbryn445/fso-blog-list-backend.git
	branch = part7-21
